# Docker Compose Configuration
COMPOSE_PG_VERSION=18-alpine
COMPOSE_PG_IMAGE=postgres

# Application Configuration
NODE_ENV=development
PORT=3000
HOST=localhost
METRICS_PORT=9323
API_PREFIX=api
SWAGGER_ROUTE=docs
# SWAGGER_LOGIN=
# SWAGGER_PASSWORD=

# PostgreSQL Configuration
PG_HOST=127.0.0.1
PG_PORT=5433
PG_USERNAME=postgres
PG_PASSWORD=postgres
PG_DATABASE=tokens

# Redis Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
# REDIS_PASSWORD=

# Kafka Configuration
KAFKA_CLIENT_ID=token-price-service
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=token-price-updates

